<odoo>
    <menuitem id="menu_travel_root"
              name="Travel"
              sequence="10"/>

    <menuitem id="menu_airport"
              name="Airports"
              parent="menu_travel_root"
              action="action_airport"
              sequence="9"/>

    <menuitem id="menu_booking"
            name="Réservation"
            parent="menu_travel_root"
            action="action_booking"
            sequence="10"/>
    <menuitem id="menu_booking_ticket"
                  name="Tickets"
                  parent="menu_travel_root"
                  action="action_booking_ticket"
                  sequence="20"/>

</odoo>
